In [4]:
import pandas as pd

faili_nimi = 'dataset_500_gpt4o_annotation.csv'

df = pd.read_csv(faili_nimi, delimiter='|')

In [5]:
df

,lemma,sentence_id,head_id,example_num,total_count,feats,case,number,proper,deprel,form,loc,loc_rel,parent_loc,pos,id_x,text,gpt_annotation
0,3Dmark01SE,15975312,24842811,1,1,"com,el,sg",el,sg,0,obl,3Dmark01SE 'st,4,2,NaN,S,45714765,Jutt käib ikka 3Dmark01SE 'st ?,NONE
1,7000rpm,17290719,26537880,1,1,"com,el,sg",el,sg,0,obl,7000rpm'ist,4,1,NaN,S,48566486,Jutt vist käis 7000rpm'ist ?,NONE
2,Aleksanderplats,5433512,8711855,1,1,"ad,prop,sg",ad,sg,1,obl,Aleksanderplatsil,37,1,NaN,S,16290928,Enne 11. septembrit kõnelesidki sotsiaaldemokr...,LOC
3,BBV,9138193,14690990,1,1,"el,nominal,sg",el,sg,0,obl,BBVst,4,2,NaN,Y,27205233,"1994 lahkus ta BBVst , et asuda tegevjuhina tö...",NONE
4,C-sektor,12901660,20637700,1,1,"com,in,sg",in,sg,0,obl,C-sektoris,9,1,NaN,S,38155843,"Kui teangi võistluse ajal , et poeg istub C-se...",LOC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,detsember,8202855,13166213,1,16611,"com,in,sg",in,sg,0,obl,detsembris,6,3,NaN,S,24438645,"Tegelikult tegid nad seda juba detsembris , ku...",NONE
1872,detsember,2817077,4517743,2,16611,"ad,com,sg",ad,sg,0,obl,detsembril,2,-2,NaN,S,8471465,31. detsembril kell 19 : 54 ruttasid Lilleküla...,NONE
1873,detsember,16540988,25507890,3,16611,"ad,com,sg",ad,sg,0,obl,detsembril,7,2,NaN,S,46819857,Riigikogu viis avaliku teenistuse seadusesse 2...,NONE
1874,detsember,16393787,25335380,4,16611,"com,el,sg",el,sg,0,obl,detsembrist,6,1,NaN,S,46530894,Indrek Tarandi puhkus kestab 1 . detsembrist k...,NONE
1875,detsember,12725418,20358916,5,16611,"ad,com,sg",ad,sg,0,obl,detsembril,2,-1,NaN,S,37627374,4 . detsembril saatis Amanda oma töö vilja suu...,NONE

In [10]:
df = df.rename(columns={"lemma": "sõna"})

# Group and calculate
result_df = df.groupby("sõna").agg(
    on_loc=("gpt_annotation", lambda x: (x == "LOC").sum()),
    esinemise_korrad=("sõna", "count")
).reset_index()

# Cap the count at 5
result_df["esinemise_korrad"] = result_df["esinemise_korrad"].clip(upper=5)

# Preview
print(result_df)

                 sõna  on_loc  esinemise_korrad
0          3Dmark01SE       0                 1
1             7000rpm       0                 1
2        A-kategooria       0                 5
3            Acapulco       5                 5
4     Aleksanderplats       1                 1
..                ...     ...               ...
482  õppelaenupirukas       0                 1
483          õppepolk       1                 1
484     ühistransport       1                 5
485        üleviimine       0                 5
486            ümbris       5                 5

[487 rows x 3 columns]

In [11]:
result_df.to_csv('500_sona_tulemused.csv', index=False)