In [2]:
import pandas as pd

df = pd.read_csv('soned_1000_algne.csv')

# jätame alles esimesed 500 lemmat
lemma_list = df['lemma'].head(500).tolist()

     Unnamed: 0               lemma
0             0            Nõugaste
1             1            turbaauk
2             2       lillepaviljon
3             3  transpordikomisjon
4             4       turismihooaeg
..          ...                 ...
995         995       terviseuuring
996         996         hommikueine
997         997          süldikatel
998         998                 emt
999         999            harukogu

[1000 rows x 2 columns]

In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('BT_andmed.db')  # Replace with your actual filename

# Load the full table from the DB into a DataFrame
df_suur = pd.read_sql_query("SELECT * FROM 'table'", conn)  # Replace with actual table name
conn.close()