In [1]:
import sqlite3
import pandas as pd
andmebaasi_nimi = "v33_koondkorpus_sentences_verb_pattern_obl_20241002-130310.db"
tabel = "kohakaanded" # tabel, kus on ainult kohakäänded alles jäetud (feats_filtreerimine.ipynb tulemus)

In [2]:
examples_given = 5 # mitu rida iga lemma kohta välja valitakse
count_min = 50 # minimaalne lemma esinemiste kord, et seda välja valitaks
conn = sqlite3.connect(andmebaasi_nimi)
query = f"""
WITH RankedRows AS (
    -- Järjestame samad lemmad kasutades random'it ning määrame example_num väärtuse
    SELECT 
        *, 
        ROW_NUMBER() OVER (PARTITION BY lemma ORDER BY RANDOM()) AS example_num,
        COUNT(*) OVER (PARTITION BY lemma) AS total_count -- Mitu korda antud lemma esineb
    FROM {tabel}
),
ValidLemmas AS (
    -- Jätame alles ainult lemmad, mis esinevad vähemalt count_min korda
    SELECT lemma
    FROM RankedRows
    GROUP BY lemma
    HAVING COUNT(*) >= {count_min}
),
RandomLemmas AS (
    -- Valime juhuslikult lemmad
    SELECT lemma
    FROM ValidLemmas
    ORDER BY RANDOM()
    -- LIMIT 1000 (siin saab määrata mitu erinevat lemmat valitakse)
)
SELECT RankedRows.*
FROM RankedRows
JOIN RandomLemmas USING (lemma)
WHERE example_num <= {examples_given}
ORDER BY total_count, lemma, example_num;
"""


df = pd.read_sql_query(query, conn)
conn.close()
df # dataframe, kus on iga valitud lemma kohta examples_given näidet

,id,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count
0,6673242,3564213,1,-1,obl,30ndatel,30.,"ad,l,ord,pl",None,N,ad,pl,0,1,50
1,42341265,22893450,1,-1,obl,30-ndail,30.,"ad,ord,pl,roman",None,N,ad,pl,0,2,50
2,21006672,11264349,1,-1,obl,30ndatel,30.,"ad,ord,pl,roman",None,N,ad,pl,0,3,50
3,40112877,21678755,5,3,obl,30-ndatel,30.,"ad,ord,pl,roman",None,N,ad,pl,0,4,50
4,19900674,10650110,7,2,obl,30-ndatel,30.,"ad,l,ord,pl",None,N,ad,pl,0,5,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45440,2973758,1617003,5,2,obl,meile,mina,"all,pl",None,P,all,pl,0,1,209164
45441,37104196,20082178,8,-1,obl,mulle,mina,"all,sg",None,P,all,sg,0,2,209164
45442,21188779,11364599,3,1,obl,mul,mina,"ad,sg",None,P,ad,sg,0,3,209164
45443,36355130,19684261,6,1,obl,meile,mina,"all,pl",None,P,all,pl,0,4,209164
45444,53676070,29836651,6,-2,obl,mulle,mina,"all,sg",None,P,all,sg,0,5,209164

In [3]:
conn = sqlite3.connect(andmebaasi_nimi)

db_df = pd.read_sql("SELECT id, sentence_id FROM transaction_head", conn) # saame sentance_id

conn.close()

# lisame sentence_id oma dataframe'ile
df = df.merge(db_df, left_on="head_id", right_on="id", how="left")

# eemaldame üleliigse id veeru
df.drop(columns=["id_y"], inplace=True)

df.head(50)

,id_x,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count,sentence_id
0,6673242,3564213,1,-1,obl,30ndatel,30.,"ad,l,ord,pl",None,N,ad,pl,0,1,50,2228206
1,42341265,22893450,1,-1,obl,30-ndail,30.,"ad,ord,pl,roman",None,N,ad,pl,0,2,50,14476563
2,21006672,11264349,1,-1,obl,30ndatel,30.,"ad,ord,pl,roman",None,N,ad,pl,0,3,50,7012123
3,40112877,21678755,5,3,obl,30-ndatel,30.,"ad,ord,pl,roman",None,N,ad,pl,0,4,50,13556739
4,19900674,10650110,7,2,obl,30-ndatel,30.,"ad,l,ord,pl",None,N,ad,pl,0,5,50,6618141
5,10675961,5708794,4,1,obl,Himaalajasse,Himaalaja,"ill,prop,sg",None,S,ill,sg,1,1,50,3545266
6,24690736,13309281,16,-2,obl,Himaalajalt,Himaalaja,"abl,prop,sg",None,S,abl,sg,1,2,50,8302648
7,4248645,2286553,1,-1,obl,Himaalajas,Himaalaja,"in,prop,sg",None,S,in,sg,1,3,50,1437124
8,23773137,12801746,3,-1,obl,Himaalajale,Himaalaja,"all,prop,sg",None,S,all,sg,1,4,50,7982872
9,42439763,22947391,1,-2,obl,Himaalajas,Himaalaja,"in,prop,sg",None,S,in,sg,1,5,50,14510969
10,23239625,12508029,4,-2,obl,Holmenkollenis,Holmenkolleni,"in,prop,sg",None,S,in,sg,1,1,50,7802178
11,24199739,13035691,4,2,obl,Holmenkollenis,Holmenkolleni,"in,prop,sg",None,S,in,sg,1,2,50,8122635
12,46486722,25310854,7,2,obl,Holmenkollenis,Holmenkolleni,"in,prop,sg",None,S,in,sg,1,3,50,16369327
13,3838710,2070557,1,-1,obl,Holmenkollenis,Holmenkolleni,"in,prop,sg",None,S,in,sg,1,4,50,1303240
14,23354409,12572782,4,2,obl,Holmenkollenis,Holmenkolleni,"in,prop,sg",None,S,in,sg,1,5,50,7846423
15,40489234,21882624,3,1,obl,Kelamilt,Kelam,"abl,prop,sg",None,S,abl,sg,1,1,50,13695417
16,33418151,18122593,18,1,obl,Kelamile,Kelam,"all,prop,sg",None,S,all,sg,1,2,50,11308585
17,14109560,7559863,3,1,obl,Kelamitele,Kelam,"all,pl,prop",None,S,all,pl,1,3,50,4704988
18,14753907,7901948,5,1,obl,Kelamilt,Kelam,"abl,prop,sg",None,S,abl,sg,1,4,50,4921524
19,14914176,7986761,12,2,obl,Kelamist,Kelam,"el,prop,sg",None,S,el,sg,1,5,50,4973962
20,45077287,24458331,5,2,obl,Keskturul,Keskturg,"ad,prop,sg",None,S,ad,sg,1,1,50,15674510
21,45042939,24438379,1,-1,obl,Keskturul,Keskturg,"ad,prop,sg",None,S,ad,sg,1,2,50,15661606
22,48131297,26282450,8,-1,obl,Keskturul,Keskturg,"ad,prop,sg",None,S,ad,sg,1,3,50,17099474
23,45064691,24450951,10,-1,obl,Keskturul,Keskturg,"ad,prop,sg",None,S,ad,sg,1,4,50,15669861
24,41175964,22256386,2,-1,obl,Keskturul,Keskturg,"ad,prop,sg",None,S,ad,sg,1,5,50,13980901
25,45343970,24620275,3,1,obl,Kristusest,Kristus,"el,prop,sg",None,S,el,sg,1,1,50,15805498
26,50624241,27834985,6,2,obl,Kristusest,Kristus,"el,prop,sg",None,S,el,sg,1,2,50,18362308
27,50650183,27850695,25,1,obl,Kristusesse,Kristus,"ill,prop,sg",None,S,ill,sg,1,3,50,18371359
28,43946573,23811292,4,1,obl,Kristusele,Kristus,"all,prop,sg",None,S,all,sg,1,4,50,15245924
29,26562489,14342529,5,3,obl,Kristusele,Kristus,"all,prop,sg",None,S,all,sg,1,5,50,8922478
30,44532242,24149451,37,-2,obl,Lõuna-Prantsusmaal,Lõuna-Prantsusmaa,"ad,prop,sg",None,S,ad,sg,1,1,50,15463647
31,1005146,588666,15,1,obl,Lõuna-Prantsusmaal,Lõuna-Prantsusmaa,"ad,prop,sg",None,S,ad,sg,1,2,50,379037
32,41295107,22320194,5,2,obl,Lõuna-Prantsusmaal,Lõuna-Prantsusmaa,"ad,prop,sg",None,S,ad,sg,1,3,50,14020166
33,47998727,26207447,6,2,obl,Lõuna-Prantsusmaal,Lõuna-Prantsusmaa,"ad,prop,sg",None,S,ad,sg,1,4,50,17050602
34,17983898,9614242,14,1,obl,Lõuna-Prantsusmaal,Lõuna-Prantsusmaa,"ad,prop,sg",None,S,ad,sg,1,5,50,5990594
35,36200740,19600263,1,-1,obl,Marikale,Marika,"all,prop,sg",None,S,all,sg,1,1,50,12243134
36,35079248,19001668,6,-2,obl,Marikale,Marika,"all,prop,sg",None,S,all,sg,1,2,50,11874806
37,15292511,8184250,15,3,obl,Marikale,Marika,"all,prop,sg",None,S,all,sg,1,3,50,5099303
38,16879026,9023387,9,-1,obl,Marikale,Marika,"all,prop,sg",None,S,all,sg,1,4,50,5627172
39,21255255,11399490,5,1,obl,Marikale,Marika,"all,prop,sg",None,S,all,sg,1,5,50,7089542
40,39004006,21087140,8,1,obl,Newcastle'il,Newcastle,"ad,prop,sg",None,S,ad,sg,1,1,50,13180611
41,11883648,6363114,4,3,obl,Newcastle'ile,Newcastle,"all,prop,sg",None,S,all,sg,1,2,50,3950988
42,12611937,6754200,5,2,obl,Newcastle'isse,Newcastle,"ill,prop,sg",None,S,ill,sg,1,3,50,4196921
43,47220516,25744341,7,3,obl,Newcastle'ile,Newcastle,"all,prop,sg",None,S,all,sg,1,4,50,16732116
44,6094645,3256197,9,1,obl,Newcastle'ile,Newcastle,"all,prop,sg",None,S,all,sg,1,5,50,2039463
45,31330699,16971669,5,3,obl,Novgorodist,Novgorod,"el,prop,sg",None,S,el,sg,1,1,50,10587899
46,16605152,8877857,10,3,obl,Novgorodis,Novgorod,"in,prop,sg",None,S,in,sg,1,2,50,5536560
47,38654676,20902260,28,2,obl,Novgorodis,Novgorod,"in,prop,sg",None,S,in,sg,1,3,50,13062920
48,40923542,22117501,8,6,obl,Novgorodis,Novgorod,"in,prop,sg",None,S,in,sg,1,4,50,13870486
49,13617460,7298156,3,1,obl,Novgorodile,Novgorod,"all,prop,sg",None,S,all,sg,1,5,50,4540427

In [4]:
# kasutame lausete andmebaasi
conn = sqlite3.connect("v33_koondkorpus_sentences_sentences_20250220-130121.db")

db_df = pd.read_sql("SELECT id, text FROM sentences", conn) # saame laused (text)
conn.close()
# lisame sentence_id põhjal dataframe'i ridadele vastava lause
df = df.merge(db_df, left_on="sentence_id", right_on="id", how="left")
# eemaldame üleliigse id veeru
df.drop(columns=["id"], inplace=True)
# muudame veerude järjekorda
uus_järjekord = ["lemma", "sentence_id", "head_id", "example_num","total_count","feats","case", "number", "proper","deprel","form", "loc", "loc_rel", "parent_loc", "pos","id_x", "text"]
df = df[uus_järjekord]
df

,lemma,sentence_id,head_id,example_num,total_count,feats,case,number,proper,deprel,form,loc,loc_rel,parent_loc,pos,id_x,text
0,30.,2228206,3564213,1,50,"ad,l,ord,pl",ad,pl,0,obl,30ndatel,1,-1,None,N,6673242,30ndatel tuli juba helifilm peale ja paljud va...
1,30.,14476563,22893450,2,50,"ad,ord,pl,roman",ad,pl,0,obl,30-ndail,1,-1,None,N,42341265,30-ndail kuivas see tuluallikas väiksemaks .
2,30.,7012123,11264349,3,50,"ad,ord,pl,roman",ad,pl,0,obl,30ndatel,1,-1,None,N,21006672,30ndatel kasutas valitsus analoogilise protest...
3,30.,13556739,21678755,4,50,"ad,ord,pl,roman",ad,pl,0,obl,30-ndatel,5,3,None,N,40112877,Filmitäht tuli temast aga 30-ndatel .
4,30.,6618141,10650110,5,50,"ad,l,ord,pl",ad,pl,0,obl,30-ndatel,7,2,None,N,19900674,""" See meenutab väga vapside liikumist 30-ndate..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45440,mina,1015405,1617003,1,209164,"all,pl",all,pl,0,obl,meile,5,2,None,P,2973758,Paraku ei jätku supermehi meile kõigile .
45441,mina,12547861,20082178,2,209164,"all,sg",all,sg,0,obl,mulle,8,-1,None,P,37104196,"” Oh , mis nüüd lastest – mulle meeldib nende ..."
45442,mina,7070579,11364599,3,209164,"ad,sg",ad,sg,0,obl,mul,3,1,None,P,21188779,Fath soovitas mul kutsuda välja ainult surnuid...
45443,mina,12296318,19684261,4,209164,"all,pl",all,pl,0,obl,meile,6,1,None,P,36355130,Nii et ajalugu on andnud meile näite “ ajaloo ...
45444,mina,20940121,29836651,5,209164,"all,sg",all,sg,0,obl,mulle,6,-2,None,P,53676070,plika_tartust|afk: njaa mulle kahm meeldib :P

In [5]:
# salvestame saadud dataframe'i andmebaasi
conn = sqlite3.connect("BT_andmed.db") 

df.to_sql("table", conn, if_exists="replace", index=False)
conn.close()

# Lisa - vali saadud andmetest esimesed 5000 rida

In [7]:
# valime välja esimesed 5000
'''
conn = sqlite3.connect("BT_andmed.db")

db_df = pd.read_sql('SELECT * FROM "table" LIMIT 5000;', conn)
conn.close()
db_df
'''

,lemma,sentence_id,head_id,example_num,total_count,feats,case,number,proper,deprel,form,loc,loc_rel,parent_loc,pos,id_x,text
0,30.,2228206,3564213,1,50,"ad,l,ord,pl",ad,pl,0,obl,30ndatel,1,-1,None,N,6673242,30ndatel tuli juba helifilm peale ja paljud va...
1,30.,14476563,22893450,2,50,"ad,ord,pl,roman",ad,pl,0,obl,30-ndail,1,-1,None,N,42341265,30-ndail kuivas see tuluallikas väiksemaks .
2,30.,7012123,11264349,3,50,"ad,ord,pl,roman",ad,pl,0,obl,30ndatel,1,-1,None,N,21006672,30ndatel kasutas valitsus analoogilise protest...
3,30.,13556739,21678755,4,50,"ad,ord,pl,roman",ad,pl,0,obl,30-ndatel,5,3,None,N,40112877,Filmitäht tuli temast aga 30-ndatel .
4,30.,6618141,10650110,5,50,"ad,l,ord,pl",ad,pl,0,obl,30-ndatel,7,2,None,N,19900674,""" See meenutab väga vapside liikumist 30-ndate..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,patriarh,3177549,5102847,1,58,"all,com,sg",all,sg,0,obl,patriarhile,25,1,None,S,9563434,"TALLINN , 17. veebruar ( EPLO ) - Kunstnik Aap..."
4996,patriarh,7821476,12534525,2,58,"all,com,sg",all,sg,0,obl,patriarhile,24,-1,None,S,23287070,Eesti Apostliku Õigeusu Kirikule tagastatakse ...
4997,patriarh,7871695,12611437,3,58,"abl,com,sg",abl,sg,0,obl,patriarhilt,17,2,None,S,23422233,16. sajandi lõpul nõudsid Vene valitsejad Ivan...
4998,patriarh,6441025,10355610,4,58,"all,com,sg",all,sg,0,obl,patriarhile,16,4,None,S,19356671,Eelmises riigikogus õigeusuliste saadikurühma ...
4999,patriarh,10765198,17243938,5,58,"all,com,sg",all,sg,0,obl,patriarhile,7,1,None,S,31823066,Nemad alluvad Moskva ja kogu Venemaa patriarhi...

In [8]:
# salvestame saadud read andmebaasi faili
'''
conn = sqlite3.connect("BT_andmed_5000.db") 

df.to_sql("table", conn, if_exists="replace", index=False)
conn.close()
'''